* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}
body{
    font-size: 16px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: var(--white);
    width: 70%;
    padding: 20px;
    margin: 25% auto;
    border: 1px solid var(--black);
    border-radius: 12px;
    box-shadow: 10px 10px 0px var(--black);
}
.image img {
    width: 98%;
height: auto;
display: flex;
justify-self: center;
border-radius: 8px;
}
.card .personale-info {
    display: flex;
    align-items: center;
}
h2 {
    text-transform: uppercase;
    font-weight: 700;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    opacity: .5;
    text-transform: capitalize;
}
h3 {
    text-transform: capitalize;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.learning h3{
    background-color: var(--primary-color);
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
}
